html{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: $fuente_principal;
    font-size: 1rem;
}
p{
    font-size: 2rem;
    color: $negro;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: $negro;
}
img{
    max-width: 100%;
}
h3{
    font-family: $fuente_principal;
    font-weight: $delgada;
    color: $negro;
}
::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
  }
  ::-webkit-scrollbar-thumb{
    background:#2874A6;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #2874A6;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .boton-principal{
    display: block;
    background-color: $azul;
    color: $blanco;
    padding: .6rem 1rem;
    width: 11rem;
    height: auto;
    margin: auto 0;
    border-radius: 5px;
    font-weight: $regular;
    &:hover{
        transition: .7s ease all;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        background-color: darken($azul, 10);
    }
}
input{
    color: $negro;
    border: 2px solid $azul;
    border-radius: 3rem;
    padding: .3rem;
    background-color: $blanco;
    &:focus{
    outline: none;
    border: 2px solid $azul;
    }
}
select{
    color: $negro;
    border: 2px solid $azul;
    border-radius: 3rem;
    padding: .3rem;
    background-color: $blanco;
    &:focus{
    outline: none;
    border: 2px solid $azul;
    }
}
textarea{
    width: 100%;
    color: $negro;
    border: 2px solid $azul;
    border-radius: 1rem;
    padding: .3rem;
    background-color: $blanco;
    &:focus{
    outline: none;
    border: 3px solid $azul;
    }
}
.textareaerror{
    width: 100%;
    color: $negro;
    border: 2px solid $rojo;
    border-radius: 1rem;
    padding: .3rem;
    background-color: $blanco;
    &:focus{
    outline: none;
    border: 3px solid $azul;
    }
}
.selectError{
    color: $negro;
    border: 3px solid $rojo;
    border-radius: 3rem;
    padding: .3rem;
    background-color: $blanco;
    &:focus{
    outline: none;
    border: 3px solid $azul;
    }
}
.errorInput{
    color: $negro;
    border: 3px solid $rojo;
    border-radius: 3rem;
    padding: .3rem;
    background-color: $blanco;
    &:focus{
    outline: none;
    border: 3px solid $azul;
    }
}

footer{
    .footer{
        margin-top: 1rem;
        width: 100%;
        background-color: darken($blanco, 5);
        @include telefono{
            display: block;
            padding: 1rem;
        }
        @include tablet{
            display: flex;
            justify-content: center;
            padding: 2rem;
        }
        a{
            color: $azul;
            padding: .5rem;
            text-align: center;
            @include telefono{
                font-size: 2rem;
            }
            @include tablet{
                font-size: 2.3rem;
            }
        }
        h3{
            margin-bottom: 1rem;
            font-weight: 500;
            @include telefono{
                font-size: 1.1rem;
            }
            @include tablet{
                font-size: 1.3rem;
            }
        }
        ul{
            list-style: none;
            li{
                padding: .6rem;
                a{
                    color: darken($blanco, 70);
                    font-weight: 400;
                    &:hover{
                        color: $negro;
                    }
                    @include telefono{
                        font-size: 1rem
                    }
                    @include tablet{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .redes-sociales{
            margin: 1rem;
        }
        .otros-enlaces{
            margin: 1rem;
        }
    }
}
a.flotante{
    @include telefono{
        text-align: center;
        z-index: 5;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        background-color: $azul;
        color: $blanco;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
        &:hover{
            transition: .7s ease all;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            background-color: darken($azul, 10);
        }
        i{
            line-height: 56px;
            font-size: 2rem;
        }
    }
    @include tablet{
        display: none;
    }
}