html{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: $fuente_principal;
    font-size: 1rem;
}
p{
    font-size: 2rem;
    color: $negro;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: $negro;
}
img{
    max-width: 100%;
}
h3{
    font-family: $fuente_principal;
    font-weight: $delgada;
    color: $negro;
}
::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
  }
  ::-webkit-scrollbar-thumb{
    background:#2874A6;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #2874A6;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .boton-principal{
    display: block;
    background-color: $azul;
    color: $blanco;
    padding: .6rem 1rem;
    width: 11rem;
    height: auto;
    margin: auto 0;
    border-radius: 5px;
    font-weight: $regular;
    &:hover{
        transition: .7s ease all;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        background-color: darken($azul, 10);
    }
}