// Colores
$negro: #000;
$blanco: #fff;
$verde: #117a8b;
$azul: #1E88E5;
$rojo: #C0392B;


// Separaciones
$separacion: 10rem;

// Fuentes
$fuente_principal: 'Exo', sans-serif;
$fuente_secundaria: 'Source Sans Pro', sans-serif;
$delgada: 300;
$regular: 400;
$bold: 700;

// Media Queries
$telefono: 0px;
$tablet: 768px;
$desktop: 1500px;
