.contenido-principal{
    @include tablet{
        display: flex;
    }
}
.sesion-movil{
    @include telefono{
        display: block;
    }
    @include tablet{
        display: none;
    }
}
.herramientas{
    height: 100vh;
    .cuenta{
        text-align: center;
        a{
            color: $verde;
        }
        p{
            font-size: 1.3rem;
            margin: .5rem 0;
            color: $azul;
        }
        .img-perfil{
            margin: 0 auto;
            width: 6rem;
            height: 6rem;
            border: 2px solid $rojo;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        ul{
            li{
                margin: 1rem 0;
                a{
                    color: $verde;
                }
            }
        }
    }

    .buscar{
        width: 100%;
        .input-buscar{
            width: 90%;
            margin: 0 auto;
        }
    }
    .redes-sociales{
        width: 100%;
        font-size: 2rem;
        text-align: center;
        a{
            margin: 0 .5rem;
            color: $verde;
        }
    }
    .small{
        font-size: 1rem;
        margin-bottom: 6rem;
    }
    h3{
        margin: 1.5rem 0;
        padding: .5rem 1.5rem;
        background-color: darken($blanco, 7);
    }
    .filtro{
        ul{
            li{
                margin: 1rem;
                color: darken($azul, 15);
                list-style: none;
                a{
                    color: darken($azul, 15);
                }
                form{
                    display: grid;
                    label{
                        margin: 1rem 0;
                    }
                    select{
                        color: $negro;
                        border: 3px solid $azul;
                        border-radius: 3rem;
                        padding: .3rem;
                        background-color: $blanco;
                        &:focus{
                            outline: none;
                            border: 3px solid $azul;
                        }
                    }
                }
            }
        }
    }
}
.categorias{
    ul{
        li{
            list-style: none;
            margin: 1.8rem;
            a{
                color: darken($azul, 15);
            }
        }
    }
}
aside{
    background-color: darken($blanco, 2);
    z-index: 1;
    @include telefono{
        transition: .5s ease all;
        position: fixed;
        left: -100%;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }
    @include tablet{
        position: relative;
        overflow: hidden;
        left: 0;
        margin-top: .5rem;
        min-width: 20rem;
        max-width: 25rem;
    }
    @include desktop{
        margin-top: .5rem;
        min-width: 25rem;
        max-width: 27rem;
    }
}
.activo{
    position: fixed;
    left: 0%;
}