header{
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    padding: .1rem 0;
    z-index: 2;
    background-color: $blanco;
    .navegacion{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include tablet{
            justify-content: space-between;
        }
        .menu-desplegable{
            margin: auto 1rem;
            font-size: 2rem;
            color: $azul;
            &:hover{
                transition: 1s ease all;
                color: darken($azul, 20);
            }
            @include tablet{
                display: none;
            }
        }
    }
    .logo{
        width: 9rem;
        @include tablet{
            width: 13.5rem;
        }
    }
    .menu-principal{
        display: none;
        @include tablet{
            display: flex;
            margin: auto 0;
            width: 54.5rem;
            text-align: center;
            justify-content: space-evenly;
        }
    }
    form{
        margin: auto 0;
    }
    .boton-principal{
        display: block;
        background-color: $azul;
        color: $blanco;
        padding: .6rem 1rem;
        width: 10rem;
        height: auto;
        margin: auto 0;
        border-radius: 5px;
        font-weight: $regular;
        &:hover{
            transition: .7s ease all;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            background-color: darken($azul, 10);
        }
    }
}
.input-buscar{
    color: $azul;
    border: 3px solid $azul;
    border-radius: 3rem;
    padding: .3rem;
    width: 23rem;
    input{
        width: 90%;
        border: 0;
        margin: 0;
        &:focus{
            border: none;
            outline: none;
        }
    }
}
.enlaces{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
    i{
        display: block;
        color: $azul;
        margin: .3rem 0;
        font-size: 1.7rem;
        cursor: pointer;
    }
}
.fijo{
    width: 100%;
    transition: 1s ease all;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
}
.botones{
    display: contents;
}
.action{
    position: relative;
    .perfil{
        .img{
            width: 3.5rem;
            height: 3.5rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            border: 2px solid $rojo;
            cursor: pointer;
        }
    }
    .dropdown{
        transition: 1s ease all;
        display: none;
        width: 12rem;
        position: absolute;
        top: 5rem;
        left: -7rem;
        background-color: darken($blanco, 2);
        border-radius: 10px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        z-index: 1;
        h3{
            margin: 1.5rem 0;
        }
        ul{
            list-style: none;
            li{
                margin: 1.5rem;
                a{
                    color: $verde;
                    font-weight: 500;
                    &:hover{
                        color: darken($verde, 20);
                    }
                }
            }
        }
        &::before{
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: -10px;
            right: 45px;
            transform: rotate(45deg);
            background-color: darken($blanco, 2);
            border-top: 1px solid gray;
            border-left: 1px solid gray;
        }
    }
    .dropdown-activo{
        transition: 1s ease all;
        display: block;
        opacity: 1;
    }
}