.contenido-usuario{
    @include telefono{
        padding: 0;
    }
    @include tablet{
        padding: 1rem;
        display: flex;
    }
    .informacion-perfil{
        @include telefono{
            z-index: 1;
            transition: .5s ease all;
            position: fixed;
            left: -100%;
            width: 100vw;
            height: 100vh;
            overflow: scroll;
        }
        @include tablet{
            position: relative;
            overflow: hidden;
            left: 0;
            margin-top: .5rem;
            min-width: 20rem;
            max-width: 25rem;
            height: auto;
        }
        width: 25rem;
        background-color: darken($blanco, 3);
        text-align: justify;
        .foto-perfil{
            border-radius: 50%;
            border: 2px solid $rojo;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 1rem auto;
            @include telefono{
                width: 6rem;
                height: 6rem;
            }
            @include tablet{
                width: 8rem;
                height: 8rem;
            }
        }
        h3{
            margin-top: 1rem;
            font-weight: 400;
            padding: 1rem;
            background-color: darken($blanco, 7);
        }
        p{
            display: block;
            text-align: center;
            color: $azul;
            font-weight: 500;
            @include telefono{
                font-size: 1.2rem;
            }
            @include tablet{
                font-size: 1.5rem;
            }
        }
        ul.lista-informacion{
            width: 65%;
            list-style: none;
            display: block;
            margin: 1.5rem auto;
            li{
                i{
                    color: $azul;
                    margin: 0 auto;
                }
                font-family: $fuente_principal;
                font-weight: 400;
                padding: 1rem 0;
                @include telefono{
                    font-size: 1rem;
                }
                @include tablet{
                    font-size: 1.2rem;
                }
                .boton{
                    i{
                        color: $blanco;
                    }
                    text-align: center;
                }
                a{
                    margin: 1rem auto;
                    @include telefono{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .informacion-perfil.activo{
        position: fixed;
        left: 0%;
    }
}
.btn-cerrarsesion{
    @include telefono{
        display: block;
    }
    @include tablet{
        display: none;
    }
    background-color: $rojo;
}
.anuncios-usuario{
    .h3anuncios{
        padding: 1rem;
        background-color: darken($blanco, 7);
        font-weight: 500;
    }
    margin: 0 auto;
    background-color: darken($blanco, 3);
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
    @include telefono{
        margin: 0;
    }
}
.lista-filtros{
    width: 90%;
    list-style: none;
    display: block;
    margin: 1.5rem auto;

    li{
        padding: 1rem 0;
        color: $azul;
        font-weight: 400;
        font-size: 1.2rem;
        a{
            color: $azul;
            font-weight: 400;
            @include telefono{
                font-size: 1rem;
            }
            @include tablet{
                font-size: 1.2rem;
            }
        }
    }
    form{
        display: grid;
        label{
            margin: 1rem 0;
            @include telefono{
                font-size: 1rem;
            }
            @include tablet{
                font-size: 1.2rem;
            }
        }
        select{
            color: $negro;
            border: 3px solid $azul;
            border-radius: 3rem;
            padding: .3rem;
            background-color: $blanco;
            @include telefono{
                font-size: 1rem;
            }
            @include tablet{
                font-size: 1.2rem;
            }
            &:focus{
                outline: none;
                border: 3px solid $azul;
            }
        }
    }
}
.categorias-perfil{
    padding: 1rem;
    margin-bottom: 6rem;
    ul{
        list-style: none;
        li{
            padding: 1rem;
            a{
                color: $azul;
                font-weight: 400;
                font-size: 1.2rem;
                @include telefono{
                 font-size: 1rem;   
                }
                @include tablet{
                    font-size: 1.2rem;
                }
            }
        }
    }
}